:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --beige-color: #EDF1D6;
    --green-color:#76A77A;
    --lightgreen-color: #E6EFE7;
    --red-color: #EE5656;
    --grey-color: #989898;
    --lightgrey-color: #EEEEEE;
    --mediumgrey-color: #D9D9D9;
    --hardred-color: #FF1D1D;
    --hardblue-color: #225BEC;
    --hardgreen-color: #3BDF55;
    --hardyellow-color: #FFE81A;
    --hardpink-color: #FF15CC;
    --hovergreen-color: #38b86f;
}

*{
    box-sizing: inherit;
}

html{
    /* 62.5% tương đương 10px */
    font-size: 62.5%;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}