*{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    margin-bottom: 40px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 105px;
    height: 55px;
    margin: 0 10px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mediumgrey-color);
    transition: 0.4s;
    border-radius: 34px;
}

.switch input {display: none}
.slider::before{
    position: absolute;
    content: "";
    height: 55px;
    width: 55px;
    left: 0px;
    bottom: 0px;
    top: 0;
    right: 0;
    background-color: var(--grey-color);
    transition: 0.4s;
    border-radius: 100px;
}

input:checked + .slider{
    background-color: var(--lightgreen-color);
}

input:checked + .slider::before{
    transform: translateX(50px);
}


